node_red.json
[{"id":"7a35f1c5.fd1da","type":"mqtt-broker","broker":"tracker.pipservices.net","port":"1883","clientid":""},{"id":"55a1d7df.4d0538","type":"lora in","name":"Receive from Lora MQTT broker","datatype":"bytes","x":168,"y":229,"z":"ca1e83fc.3e719","wires":[["5d7ba1ea.66908"]]},{"id":"1b897128.ff3d0f","type":"debug","name":"Show device up message","active":true,"console":"false","complete":"true","x":960,"y":295,"z":"ca1e83fc.3e719","wires":[]},{"id":"6574e1b1.9bbe2","type":"inject","name":"Run once at Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":137,"y":57,"z":"ca1e83fc.3e719","wires":[["c03f5922.d68628"]]},{"id":"bf13ed4e.b0872","type":"function","name":"Set gateway info","func":"var system=JSON.parse(msg.payload).result;\n\nvar macAddress = system.macAddress.replace(/[\\W-:]/g, '').toLowerCase();\n\nreturn {\n    gw_model: system.productId,\n    gw_version: 1,\n    gw_serial: system.deviceId,\n    gw_udi: macAddress\n};\n","outputs":1,"noerr":0,"x":530,"y":57,"z":"ca1e83fc.3e719","wires":[["b83c9d7e.ffa0c","cee2c0f3.e2013"]]},{"id":"c03f5922.d68628","type":"http request","name":"Get system info","method":"GET","ret":"txt","url":"http://localhost/api/system","x":337,"y":57,"z":"ca1e83fc.3e719","wires":[["bf13ed4e.b0872"]]},{"id":"cc7b6fc5.c008a","type":"debug","name":"Show system info","active":true,"console":"false","complete":"true","x":955,"y":57,"z":"ca1e83fc.3e719","wires":[]},{"id":"b83c9d7e.ffa0c","type":"function","name":"Save system info","func":"context.global.system = msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":56,"z":"ca1e83fc.3e719","wires":[["cc7b6fc5.c008a"]]},{"id":"b47eea66.ece058","type":"mqtt out","name":"Send to backend MQTT broker","topic":"","qos":"","retain":"","broker":"7a35f1c5.fd1da","x":975,"y":200,"z":"ca1e83fc.3e719","wires":[]},{"id":"1289757e.5f15eb","type":"debug","name":"Show device down message","active":true,"console":"false","complete":"true","x":975,"y":374,"z":"ca1e83fc.3e719","wires":[]},{"id":"61aeb374.77d88c","type":"lora out","name":"Send to Lora MQTT broker","eui":"","payload":"","ack":false,"port":"","x":971,"y":434,"z":"ca1e83fc.3e719","wires":[]},{"id":"cee2c0f3.e2013","type":"function","name":"Create gateway init message","func":"var data = new Buffer(1);\ndata.writeUInt8(0, 0);\n\nvar payload = {\n    gw_udi: msg.gw_udi,\n    gw_model: msg.gw_model,\n    gw_version: msg.gw_version,\n    time: new Date(),\n    data: data    \n};\n\nreturn {\n    payload: payload,\n    topic: payload.gw_udi + '/up'\n};","outputs":1,"noerr":0,"x":514,"y":182,"z":"ca1e83fc.3e719","wires":[["249de0b9.7d22e","b47eea66.ece058"]]},{"id":"249de0b9.7d22e","type":"debug","name":"Show gateway init message","active":true,"console":"false","complete":"payload","x":969,"y":134,"z":"ca1e83fc.3e719","wires":[]},{"id":"5d7ba1ea.66908","type":"function","name":"Create device up message","func":"var device_udi = msg.eui.replace(/[\\W-:]/g, '').toLowerCase();\nvar system = context.global.system || {};\n\nvar data = msg.payload;\n\nvar payload = {\n    gw_udi: system.gw_udi,\n    device_udi: device_udi,\n    time: new Date(),\n    data: data\n};\n\nreturn {\n    payload: payload,\n    topic: payload.gw_udi + '/up'\n};","outputs":1,"noerr":0,"x":502,"y":302,"z":"ca1e83fc.3e719","wires":[["b47eea66.ece058","1b897128.ff3d0f"]]},{"id":"b8906f01.2abde","type":"mqtt in","name":"Receive from backend MQTT broker","topic":"+/down","broker":"7a35f1c5.fd1da","x":177,"y":366,"z":"ca1e83fc.3e719","wires":[["2f9a1424.a00e4c"]]},{"id":"2f9a1424.a00e4c","type":"function","name":"Create device down message","func":"var system = context.global.system || {};\n\nvar payload = JSON.parse(msg.payload); \n\n// Skip messages for other gateways\nvar gw_udi = (payload.gw_udi || '').toLowerCase();\nif (gw_udi != system.gw_udi)\n    return null;\n\nvar device_udi = (payload.device_udi || '').toLowerCase();\nvar eui = device_udi.replace(/(..)/g, ':$1').substring(1);\nvar data = new Buffer(payload.data, 'base64');\n\n// Skip broken or empty messages\nif (device_udi == '' || payload == '')\n    return null;\n\nreturn {\n    eui: eui,\n    payload: data\n};","outputs":1,"noerr":0,"x":519,"y":409,"z":"ca1e83fc.3e719","wires":[["1289757e.5f15eb","61aeb374.77d88c"]]}]
